{
  "extends": ["onepass"],
  "settings": {
    "react": {
      "version": "999.999.999"
    }
  },
  "rules": {
    "arrow-body-style": 2,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "tabWidth": 2,
        "arrowParens": "always"
      }
    ]
  }
}
