pre {
  font-family: var(--font-monospace);
  /* background-color: var(--text-lighter); */
  padding: 0.8em;
  font-size: 0.9rem;
  line-height: 1.2em;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-left: 3px solid var(--text-lighter);
}

pre code {
  border: none;
  color: var(--text);
}

pre.js {
  border-color: var(--yellow);
  background-color: var(--washed-yellow);
}

pre.r {
  border-color: var(--blue);
  background-color: var(--washed-blue);
}

pre.json {
  border-color: var(--purple);
  background-color: var(--washed-purple);
}

pre.node,
pre.bash,
pre.sh {
  border-color: var(--green);
  background-color: var(--washed-green);
}

pre.md,
pre.markdown,
pre.yaml {
  border-color: var(--red);
  background-color: var(--washed-red);
}

.pre-name {
  margin-bottom: -1em;
  border-bottom: 3px solid #00000010;
  font-family: var(--font-monospace);
  text-align: right;
  padding-right: 1em;
  color: var(--text-med);
  z-index: -1;
}

p code,
p kbd,
p samp {
  font-family: var(--font-monospace);
  font-size: 0.9rem;
}

p code,
p kbd {
  border-radius: var(--border-radius);
  padding: 0px 2px;
}

p code {
  /* border:1px solid var(--text-light); */
  /* background-color: var(--text-lighter); */
  color: var(--red);
}

/* don't show empty output divs */
.sourceCode + div[id^="out-"]:empty {
  display: none;
}
