:root {
  --bs-light-rgb: 249, 250, 250;
}

.bg-light {
  --bs-bg-opacity: 0.95;
}

pre {
  border: 1px solid #cfd5d8; /* just for {js4shiny} */
  border-radius: 0;
  background-color: var(--bs-body-bg);
  line-height: 1.33;
}

main pre a {
  text-decoration: none;
}

main pre a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #09414a; /* --blue-10 */
}

h2, h3, h4, h5, h6 {
  margin-top: 1em;
}

.template-home #main + aside a {
  text-decoration: none;
}

.template-home #main + aside a:hover,
.template-home #main + aside a:focus {
  text-decoration: underline;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #0b535d;
	background-color: unset;
  box-shadow: inset 0 -0.1em 0 #f54f61;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0b535d;
  box-shadow: inset 0 -0.1em 0 currentColor;
}

@media (max-width: 575.98px) {
  .container main pre {
    margin-left: calc(var(--bs-gutter-x) * -.5);
    margin-right: calc(var(--bs-gutter-x) * -.5 - 1px);
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
